  <table>
    <thead>
      <tr>
      <th>Song</th>
      </tr>
    </thead>
    <% @songs.each do |song| %>
    <tbody>
     <tr>
       <td><%= song.title %></td>
       <td><%= link_to("Destroy", songs_path, method: :delete) %></td>
     </tr>
    </tbody>
  <% end %>
<table>
